/* Palette de couleurs */
:root {
    --primary-color: #5f8bbd; /* Couleur principale */
    --secondary-color: #9c6bc7; /* Couleur secondaire */
    --accent-color: #f5a1e7; /* Couleur d'accentuation */
    --background-color: #c6d4d4; /* Couleur de fond */
    --text-color: #333; /* Couleur du texte */
}

/* Style général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

header .banner {
    background-color: transparent;
    border: none;
    padding: 30px 30px;
    color: rgb(252, 252, 252);
    box-shadow: 2px -1px 10px 4px rgba(212, 115, 191, 0.918);
    border-radius: 30%;
}

header {
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color), var(--accent-color));
    color: rgb(161, 161, 214);
    padding: 20px;
    text-align: center;
}

.button {
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #7eb1f3;
    border: none;
    margin: 10px;
    font-weight: bold;
    color: rgb(244, 242, 247);
    transition: 0.3s ease;
}

.button:hover {
    background-color: transparent;
    border: none;
    padding: 15px 35px;
    color: rgb(189, 231, 221);
    box-shadow: 2px -1px 10px 4px rgba(110, 223, 120, 0.918);
}

.profil-image {
    border-radius: 30%;
    width: 200px;
    height: 250px;
    margin: 0 auto;
    display: block;
}

.about img,
.skills img,
.projects img {
    display: block;
    margin: 10px 0; 
    max-width: 100%; 
    height: auto;
}

section {
    padding: 20px;
    margin: 10px;
    background: rgb(125, 147, 192);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: var(--text-color);
}

.skill-badges {
    display: flex;
    flex-wrap: wrap;
}

.badge {
    background: #7eabd4;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

a {
    color: #4a90e2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .profil-image {
        width: 100px;
        height: 100px;
    }

    header {
        padding: 15px;
    }
}